<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching><appSettings>
    <!--MultiTenancyFramework: Used by NHibernate to locate entities. Add assemblies where your entities reside. -->
    <add key="EntityAssemblies" value="" />
  </appSettings><hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <!--Defaulting to MySql; but the SQL settings are provided too. Other settings can be found easily on the web-->
      <!--<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>-->
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">
        <!--Modify as needed-->
        server=YourServer;user id=YourUserName;password=YourPassword;database=YourDb
      </property>
      <!--Modify as needed-->
      <property name="adonet.batch_size">1000</property>
      <property name="command_timeout">360</property>
      <!--Schema update. Remove in production-->
      <property name="hbm2ddl.auto">update</property>
      <!-- Specify the assembly name(s) where your mapping files reside -->
      <!--<mapping assembly="Assembly1" />
      <mapping assembly="Assembly2" />-->
    </session-factory>
  </hibernate-configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>